$gray-primary: #475569;
$gray-light: #cbd5e1;
$gray-dark: #0f172a;

$color-primary: #4338ca;
$color-primary-dark: #312e81;
$invert-primary: white;
$invert-primary-dark: white;

$color-errored: #b91c1c;
